## List Comprehensions Exercises

Task 1: Filter only negative and zero in the list using list comprehension

```py
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
```

In [ ]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
negative_numbers = [i for i in numbers if i <= 0]
negative_numbers

Task 2: Flatten the following list of lists of lists to a one dimensional list :

```py
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

output
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [ ]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flattened_list = [i for sublist in list_of_lists for sublist2 in sublist 
                  for i in sublist2]
flattened_list

Task 3: Using list comprehension create the following list of tuples:

```python
[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [ ]:
tuples_list = [(i, i**0, i**1, i**2, i**3, i**4, i**5) for i in range(11)]
tuples_list

Task 4: Flatten the following list to a new list:

```python
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]
```

In [ ]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')]
             , [('Norway', 'Oslo')]]
flattened_countries = [[i[0].upper(), i[0][:3].upper(), i[1].upper()]
                        for sublist in countries for i in sublist]
flattened_countries

Task 5: Change the following list to a list of dictionaries:

```python
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[{'country': 'FINLAND', 'city': 'HELSINKI'},
{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
{'country': 'NORWAY', 'city': 'OSLO'}]
```

In [ ]:
countries_dict = [{'country':i[0].upper(), 'city':i[1].upper()}
                        for sublist in countries for i in sublist]
countries_dict

Task 6: Change the following list of lists to a list of concatenated strings:

```python
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
output
['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']
```

In [ ]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')]
         , [('Bill', 'Gates')]]
full_names = [' '.join(i) for sublist in names for i in sublist]
full_names

Task 7: Write a lambda function which can solve a slope or y-intercept of linear functions.

In [ ]:
# Lambda function to calculate the slope (m) given two 
# points (x1, y1) and (x2, y2)
slope = lambda x1, y1, x2, y2: (y2 - y1) / (x2 - x1)

# Lambda function to calculate the y-intercept (b) 
# given a point (x, y) and the slope (m)
y_intercept = lambda x, y, m: y - m * x

# Example usage:
x1, y1 = 1, 2
x2, y2 = 3, 4
m = slope(x1, y1, x2, y2)
b = y_intercept(x1, y1, m)

print(f"Slope: {m}")
print(f"Y-Intercept: {b}")